*{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 255, 136);
}

.main-content{
    text-align: center;
    margin: 50px 50px auto;
}

.imge{
    display: flex;
    flex-direction: column;
}

.content{
    text-align: center;
    margin: 50px 50px auto;
}

.title{
    font-family: 'Times New Roman', Times, serif;
}

.sek{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}